{% extends "dash.html" %}
{% block title %}Calls - Switch{% endblock %}
{% block user %}{{login_user['first_name']}} [{{login_user['account']}}]{% endblock %}
{% block content %}
<h1>Calls</h1>
<table>
	<thead>
		<tr>
			<th>Date</th>
			<th>Source</th>
			<th>Origin</th>
			<th>Destination</th>
			<th>Use for</th>
		</tr>
	</thead>
	<tbody>
		{% for call in calls %}
			<tr>
				<td>{{call.created_date|humandate}} {{call.created_date|humantime}}</td>
				<td>{{call.source}}</td>
				<td>{{call.created_by | GetOriginNumber}}</td>
				<td>{{call.destination}}</td>
				<td>{{call.created_by | User | safe}}</td>
				
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}