<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
		<link rel="stylesheet" type="text/css" href="/static/font-awesome.css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript">
		$(document).ready(function(){

		    $("tr:even").css("background-color","silver");
		    // rgba equivalent for yellow with 50% opacity
		    $("tr:odd").css("background-color","#FFE");

		    $("input[type='checkbox']").change(function() {

		    	$('.action-btns').show()
		    })

		    $('.action-btns').click(function(){

		    	if(this.id == 'authorize'){

		    		msg = 'Authorize action has been made'
		    	}
		    	else{
		    		msg = 'Unathorized action has been made'
		    	}
		    	alert(msg)
		    })

		   $('a.country-delete-icon').click(function(item){

		   		var id = this.id
		   		var row = $('#row'+id+' input[type=hidden]')
		   		var get_val = row.val()
		   		var choice = confirm("Are you sure you want to delete "+get_val)
		   		if(choice == true){

		   			$.ajax({
		   				url:'/countries/delete/'+id,
		   				dataType: 'json',
		   				success: function(data){
		   					if(data.success == 0){

		   						alert("You deleted "+get_val)
		   						var row = $('#row'+id).hide()
		   					}
		   					else{
		   						alert("You didnt delete "+get_val)
		   					}
		   				}
		   			})
		   		}
		   		else{

		   		}

		   })

		    $('a.pin-delete-icon').click(function(item){

		   		var id = this.id
		   		var row = $('#pinrow'+id+' input[type=hidden]')
		   		var get_val = row.val()
		   		var choice = confirm("Are you sure you want to delete "+get_val)
		   		if(choice == true){

		   			$.ajax({
		   				url:'/pins/delete/'+id,
		   				dataType: 'json',
		   				success: function(data){
		   					if(data.success == 0){

		   						alert("You deleted "+get_val)
		   						var row = $('#pinrow'+id).hide()
		   					}
		   					else{
		   						alert("You didnt delete "+get_val)
		   					}
		   				}
		   			})
		   		}
		   		else{

		   		}

		   })


		   $('a.own-delete-icon').click(function(item){

		   		var id = this.id
		   		var row = $('#ownrow'+id+' input[type=hidden]')
		   		var get_val = row.val()
		   		var choice = confirm("Are you sure you want to delete "+get_val)
		   		if(choice == true){

		   			$.ajax({
		   				url:'/owns/delete/'+id,
		   				dataType: 'json',
		   				success: function(data){
		   					if(data.success == 0){

		   						alert("You deleted "+get_val)
		   						var row = $('#ownrow'+id).hide()
		   					}
		   					else{
		   						alert("You didnt delete "+get_val)
		   					}
		   				}
		   			})
		   		}
		   		else{

		   		}

		   })

		   $('a.did-delete-icon').click(function(item){

		   		var id = this.id
		   		var row = $('#didrow'+id+' input[type=hidden]')
		   		var get_val = row.val()
		   		var choice = confirm("Are you sure you want to delete "+get_val)
		   		if(choice == true){

		   			$.ajax({
		   				url:'/dids/delete/'+id,
		   				dataType: 'json',
		   				success: function(data){
		   					if(data.success == 0){

		   						alert("You deleted "+get_val)
		   						var row = $('#didrow'+id).hide()
		   					}
		   					else{
		   						alert("You didnt delete "+get_val)
		   					}
		   				}
		   			})
		   		}
		   		else{

		   		}

		   })

		   $('a.user-delete-icon').click(function(item){

		   		var id = this.id
		   		var row = $('#userrow'+id+' input[type=hidden]')
		   		var get_val = row.val()
		   		var choice = confirm("Are you sure you want to delete "+get_val)
		   		if(choice == true){

		   			$.ajax({
		   				url:'/users/delete/'+id,
		   				dataType: 'json',
		   				success: function(data){
		   					if(data.success == 0){

		   						alert("You deleted "+get_val)
		   						var row = $('#userrow'+id).hide()
		   					}
		   					else{
		   						alert("You didnt delete "+get_val)
		   					}
		   				}
		   			})
		   		}
		   		else{

		   		}

		   })

		    $('a.ip-delete-icon').click(function(item){

		   		var id = this.id
		   		var row = $('#iprow'+id+' input[type=hidden]')
		   		var get_val = row.val()
		   		var choice = confirm("Are you sure you want to delete "+get_val)
		   		if(choice == true){

		   			$.ajax({
		   				url:'/ips/delete/'+id,
		   				dataType: 'json',
		   				success: function(data){
		   					if(data.success == 0){

		   						alert("You deleted "+get_val)
		   						var row = $('#iprow'+id).hide()
		   					}
		   					else{
		   						alert("You didnt delete "+get_val)
		   					}
		   				}
		   			})
		   		}
		   		else{

		   		}

		   })

		});

		
</script>
	</head>
	<body>
	<div style="padding:15px 0 0 20px;">
		<h1> Welcome {% block user %}{%endblock%}</h1>
		<div id="header">
			<a href="/ipfilters"><strong>IP filter</strong></a>
			<a href="/did"><strong>DID</strong></a>
			<a href="/customers"><strong>Customers</strong></a>
			<a href="/pin"><strong>Pins</strong></a>
			<a href="/own"><strong>Own</strong></a>
			<a href="/countries"><strong>Countries</strong></a>
			<a href="/calls"><strong>Calls</strong></a>
			<a href="/logout"><strong>Logout</strong></a>
		</div>
		<div id="container">
			<div id="content">
				{% block content %}

				{% endblock %}
			</div>
			<div id="menu">
				<!--<a href="/"><img src="/static/logo.png" alt="" /></a>-->
				<div class="clear"></div>
			</div>
		</div>
	</div>	
	</body>
</html>
