<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="/static/styles.css">
		<link rel="stylesheet" type="text/css" href="/static/font-awesome.css">
		<script type="text/javascript" src="/javascript/jquery/jquery.min.js"></script>
	</head>
	<body>
	<div style="padding:15px 0 0 20px;">
		<h1> Welcome {% block user %}{%endblock%}</h1>
		<div id="header">
			<a href="/ipfilter"><strong>IP filter</strong></a>
			<a href="/did"><strong>DID</strong></a>
			<a href="/customers"><strong>Customers</strong></a>
			<a href="/pin"><strong>Pins</strong></a>
			<a href="/calls"><strong>Calls</strong></a>
			<a href="/logout"><strong>Logout</strong></a>
		</div>
		<div id="container">
			<div id="content">
				{% block content %}

				{% endblock %}
			</div>
			<div id="menu">
				<!--<a href="/"><img src="/static/logo.png" alt="" /></a>-->
				<div class="clear"></div>
			</div>
		</div>
	</div>	
	</body>
</html>
