{% extends "dash.html" %}
{% block title %}DID - Switch{% endblock %}
{% block user %}{{login_user['first_name']}} [{{login_user['account']}}]{% endblock %}
{% block content %}
	
	<p></p>
	<form action="/did" method="post" enctype="multipart/form-data">
	
	
	<div>
		<label for="auth_gw">Phone number</label>
		<input type="text" id="auth_gw" name="phone"/>
	</div>
	<div>
		<label for="auth_gw">Provider</label>
		<select id="auth_gw" name="provider">
			<option>Select..</option>
			<option value="Verifone">Verifone</option>
			<option value="M-PESA">M-PESA</option>
			<option value="MTN">MTN</option>
			<option value="AIRTEL">AIRTEL</option>
			<option value="GLO">GLO</option>
		</select>
		
	</div>
	<div>
		<label for="auth_gw">Cost</label>
		<input type="text" id="auth_gw" name="cost"/>
	</div>
	<div>
		<label for="auth_gw">Country</label>
		<select id="auth_gw" name="country">
			<option>Select..</option>
			{% for country in countries %}
				<option value="{{country.country}}">{{country.country}}</option>
			{% endfor %}
		</select>
	</div>
	<div>
		<label for="auth_gw">Capacity</label>
		<select id="auth_gw" name="capacity">
			<option>Select..</option>
			<option value="2">2</option>
			<option value="3">3</option>
		</select>
	</div>
	<div>
		<label for="auth_gw">mode</label>
		<select id="auth_gw" name="mode" class="did-mode">
			<option value="">Select..</option>
			<option value="PIN-DIALING">PIN-DIALING</option>
			<option value="DIRECT-DIALING">DIRECT-DIALING</option>
		</select>
	</div>
	<div class="did-pin-class" style="display:none;">
		<label for="auth_gw">Pins</label>
		<select id="auth_gw" name="pin">
			<option value="">Select..</option>
			{% for pin in pins %}
				<option value="{{pin.pin}}">{{pin.pin}}</option>
			{% endfor %}
		</select>
		
	</div>
	<p></p>
	<hr/>
	<p></p>
	<div>
		<label for="auth_gw">Select CSV file</label>
		<input type="file" id="auth_gw" name="did_file"/>
	</div>	

	
		<button>Create did</button>
	
</form>


<strong>{% if error != None %} {{error}} {% endif %}</strong>

<strong>{% if did_file != None %} {{did_file}} {% endif %}</strong>
<br/>
<strong>Total available dids : {{countdids}}</strong>
<p></p>
<hr/>
<table>
	<tr>
		<th>Phone number</th>
		<th>Provider</th>
		<th>Cost</th>
		<th>Capacity</th>
		<th>Mode</th>
		<th>Pin</th>
		<th>Created by</th>
		<th>Created date</th>
		<th>Used for</th>
		<th>Available</th>
	</tr>
	{% for did in dids%}
	<tr id="didrow{{did.id}}">
		<td>{{did.phone}}</td>
		<td>{{did.provider}}</td>
		<td>{{did.cost}}</td>
		<td>{{did.capacity}}</td>
		<td>{{did.mode}}</td>
		<td>{{did.pin}}</td>
		<td>{{did.created_by | User }}</td>
		<td>{{did.created_date | humandatetime | safe}}</td>
		<td>{{did.phone | DestinationUserId | User | safe}}</td>
		<td>{{did.available}}</td>
		<td><input type="hidden" value="{{did.phone}}"></td>
		<td><a id="{{did.id}}" class="did-delete-icon">delete</a></td>
	</tr>
	{% endfor %}
</table>
{% endblock %}



