{% extends "dash.html" %}
{% block title %}Customers - Switch{% endblock %}
{% block user %}{{login_user['first_name']}} [{{login_user['account']}}]{% endblock %}
{% block content %}
<h1>Customers</h1>
<a href="/customers/create">new</a>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Origin</th>
			<th>Destination</th>
			<th>DID</th>
			<th>Own</th>
			<th>Initial date</th>
			<th>End date</th>
			<th>Gateway</th>
			<th>Channel</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
			<tr>
				<td><a href="/customers/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></td>
				<td>{{user.number}}</td>
				<td>
					{% for destination in user.destinations %}
						{{destination.number}}<br />
					{% endfor %}
				</td>
				<td>
					{% for destination in user.destinations %}
						{{destination.did}}<br />
					{% endfor %}
				</td>
				<td>
					{% for destination in user.destinations %}
						{{destination.own}}<br />
					{% endfor %}
				</td>
				<td>
					
					{% for destination in user.destinations %}
						{{destination.created|humandatetime|safe}}<br />
					{% endfor %}
				</td>
				<td>
					
					{% for destination in user.destinations %}
						{% if destination.expires %}{{destination.expires|humandatetime|safe}}{% endif %}<br />
					{% endfor %}
				</td>
				<td>
					
					{% for destination in user.destinations %}
						{{destination.gateway or ''}}<br />
					{% endfor %}
				</td>
				<td>
					{% for destination in user.destinations %}
						{{destination.channel or ''}}<br />
					{% endfor %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
